@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primary-dark text-white px-6 py-3 rounded font-bold transition-all inline-block text-center;
  }
  .btn-secondary {
    @apply bg-secondary hover:bg-secondary-dark text-white px-6 py-3 rounded font-bold transition-all inline-block text-center;
  }
  .section-title {
    @apply text-3xl md:text-4xl font-bold text-gray-900 mb-8 text-center;
  }
}
